<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/home_03?useEncoding=true&amp;characterEncoding=UTF-8</property>
        <property name="connection.password">1qaz2wsx</property>
        <property name="connection.user">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>
        <mapping class="org.demo.home_03.model.Customer" />
        <mapping class="org.demo.home_03.model.Office" />
        <mapping class="org.demo.home_03.model.Order" />
        <mapping class="org.demo.home_03.model.Salesrep" />
        <mapping class="org.demo.home_03.model.Product" />
    </session-factory>
</hibernate-configuration>